PORT=5000
DATABASE_DSN=cast:password@tcp(localhost:3306)/cast_onion?parseTime=true
REDIS_ADDR=localhost:6379
TLS_CERT=/etc/cast-onion/tls/cert.pem
TLS_KEY=/etc/cast-onion/tls/key.pem
CDN_BASE=https://cdn.cast.onion
ADMIN_SECRET=
API_BASE=http://localhost:8443
WEB_PORT=2050
CDN_PORT=1050
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email@gmail.com
SMTP_PASS=PASS GIVEN BY AUTH
FROM_EMAIL=
FROM_NAME=cast.onion